/*Error message for registration and login*/
div#errors {
	color:darkred;
	 padding: 0px 15px 7px 15px;
    margin-bottom:20px;
    font-size:18px;
}
/*End/*

/* navheader section */
.nav > li > a:hover, .nav > li > a:focus {
    background-color:rgba(74, 72, 126, 0);
}
.navbar-top-links  .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color:rgba(0,0,0,0.075) ;
}
.navbar-top-links > li > a {
color: #FFFFFF;
}
.nav > li > a {
padding: 20px 15px;
}

.nav > li:active {
color: #fff;
background-color: inherit;
background-color: rgba(0,0,0,0.075) ;
text-shadow: none;
}
/* navheader section */

/* side-menu section */
#side-menu {
    background-color:rgba(100, 100, 100, 0.95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 #side-menu a {
            color:#fff;
           /*border-bottom: 1px solid #84B899 !important;*/
           height: 55px;
           font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            font-weight: bold;
        }
        .selected {
            background-color:rgb(83, 163, 163);
        }
/* back colors */
        .blue {
            background-color:#81daf6;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
         .green {
            background-color:rgb(144, 236, 192);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
          .red {
            background-color:#FB6B5B;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
        .yellow {
            background-color:#f0ad4e;
            
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
input.green{
    background-color: #FFFFFF;
}
#side-menu a:hover {
    background-color: rgba(12, 13, 14, 0.5);
}

.user-section {
    margin-top:20px;
    font-size:22px;
    padding-bottom:10px;
    color: #fff;
  background-color: rgba(12, 13, 14, 0.5);
}
.user-section-inner {
    height: 100px;
width: 85px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
overflow: hidden;
float: left;
margin-right: 5px;
margin-top: 10px;
margin-left:10px;
}
.user-section-inner img {
        margin-left:10px;
        margin-top:13px;
        width:65px;
        height:70px;
        
    }
.user-info {
    display: block;
    color:#000;
padding: 15px;
margin-bottom: 0px
}
.user-text-online {
    font-size:18px;
    color:#fff
}
.user-circle-online {
    width: 15px;
    height: 15px;
}

/* side menu ends here */


/* Navbar color*/
.box{
    background-color:rgba(50, 57, 86, 0.96);
}

#navbar{
    background: rgba(39, 45, 69, 0.96);
}

/* Navbar color*/