/*Error message for registration and login*/
div#errors {
	color:darkred;
	 padding: 0px 15px 7px 15px;
    margin-bottom:20px;
    font-size:18px;
}
/*End/*

/* navheader section */
.nav > li > a:hover, .nav > li > a:focus {
    background-color:rgba(74, 72, 126, 0);
}
.navbar-top-links  .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color:rgba(0,0,0,0.075) ;
}
.navbar-top-links > li > a {
color: #FFFFFF;
}
.nav > li > a {
padding: 20px 15px;
}

.nav > li:active {
color: #fff;
background-color: inherit;
background-color: rgba(0,0,0,0.075) ;
text-shadow: none;
}
/* navheader section */

/* side-menu section */
#side-menu{
    /*background-color: rgb(8, 148, 240);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    color: #fff;
  background-color: #428bca;
}

 #side-menu a {
            color:#fff;
           /*border-bottom: 1px solid #84B899 !important;*/
           height: 55px;
           font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            font-weight: bold;
        }
        .selected {
            background-color:rgb(83, 163, 163);
        }
/* back colors */
        .blue {
            background-color:#81daf6;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
         .green {
            background-color:rgb(144, 236, 192);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
          .red {
            background-color:#FB6B5B;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
        .yellow {
            background-color:#f0ad4e;
            
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
input.green{
    background-color: #FFFFFF;
}
#side-menu a:hover {
    background-color:  rgb(1, 87, 130);
}

.user-section {
    margin-top:20px;
    font-size:22px;
    padding-bottom:10px;
    color: #fff;
   background-color:  rgb(1, 87, 130);
}
.user-section-inner {
    height: 100px;
width: 85px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
overflow: hidden;
float: left;
margin-right: 5px;
margin-top: 10px;
margin-left:10px;
}
.user-section-inner img {
        margin-left:10px;
        margin-top:13px;
        width:65px;
        height:70px;
        
    }
.user-info {
    display: block;
    color:#000;
padding: 15px;
margin-bottom: 0px
}
.user-text-online {
    font-size:18px;
    color:#fff
}
.user-circle-online {
    width: 15px;
    height: 15px;
}

/* side menu ends here */


/* Navbar color*/
.box{
    color: #fff;
    background-color:#428bca;
}
.bg-primary {
  color: #fff;
  background-color: #428bca;
}


/* Navbar color*/

/*Body Background*/

/*.panel-body.login {
    background-color: rgba(91, 192, 222, 0.4);
    
}



 body {
   background-image: url("../img/bluriimagebnw");
   background-attachment:fixed;
}*/
/*End*/

/* style.css */




@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Global Styles */

/* ------------------------------- */


 /*body {
   background-image: url("../img/bluriimagebnw.jpg") ;
   background-attachment:fixed;
}*/

/* Wrappers */

/* ------------------------------- */


 #wrapper {
    width: 100%;
    margin-top: 55px!important; 
    
    
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
     /*background-color:rgb(209, 212, 216);*/
}




.navbar-static-side ul li {
    border-bottom: 1px solid rgba(0,0,0,0.05) !important;
    border-top: 1px solid rgba(255,255,255,0.05) !important;
    transition: color .3s ease-in-out 0s;
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

 .navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 20px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

 .sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/* Buttons */

/* ------------------------------- */

 .btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Pages */

/* ------------------------------- */

/* Dashboard Chat */

 .chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 280px;
    overflow-y: scroll;
}

/* Login Page */

 .login-panel {
    margin-top: 15%;
    margin-bottom:40%;
    background-color:#E3F2FD;
}
.body-Backcolor {
    background-color:#000;
    background-color:#E3F2FD;

}
.logo-margin {
    margin-top:100px;

}

/* Flot Chart Containers */

 .flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

 table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* Circle Buttons */

 .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

    
/*styles End*/


/*custom.css*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.status {
    
    font-size:12px;
    color:#000000;
    
}
.searchdropdown {
    color: #000;
}
.row.profile {
    
    border-radius: 10px;
    padding: 20px;
    background: rgb(247, 247, 247);
}
.table.table-bordered.tablescroll.table-striped > tbody > tr > td, .table.table-bordered.tablescroll.table-striped>tbody>tr>th {
    padding: 2px !important;
}
.col-lg-3 .alert a {
    color: #a94442;
}
input.leave-input {
    
    background:transparent;
    border:0;
    width: 40px;
}
.text-label {
    color: #fff;
    padding: 0px 0px 5px 5px;
}

.clockwrapper {
   color: #edfd2e;
    float: right;
    font-size: 15px;
    font-weight: 700;
}

.tablescroll {
    display: block !important;
   overflow-y: auto !important;
}
.center {
    text-align: center;
}
#clock {
    
    display:inline;
    
}

a.user-status {
    color: #717171 !important;
    border-bottom: 0px !important;
    height: 30px !important;
}

/*.panel-body.login {
    background-color: rgba(91, 192, 222, 0.4) ;
    
}*/
.login-panel.panel.panel-default {
    border:0px !important;
    background: transparent ;
}

.panel-default > .panel-heading {
    color: #f5f5f5;
    background-color: rgba(14, 69, 101, 0.8) ;
   
}

 
#navbar{
    background-color: rgba(77, 76, 165, 0.5);
}
nav.navbar-default.navbar-static-side {
    margin-top: 50px;
}
h1 {
    color: #fff ;
    
}

/*.body-Login-back {    
  
    background-image:url("../img/bluriimage.jpg") ;
}*/
div#errors {
    color: #fff;
    background-color: rgba(91, 192, 222, 0.4) ;
    padding: 0px 15px 7px 15px;
    margin-bottom:20px;
}

.navbar-brand img {
    height:50px ;
}

.navbar-brand {
    float: left;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
    height: 10px;
}
.form-control-search {
    margin-left:15px;
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
img.roundedimage {
    border-radius: 30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}
input.statusremarks {
    
    width:130px;
    
}

/*End*/